  <!-- A partial to be overwritten by the user.
  Simply place a custom_body.html into
  your local /layouts/partials-directory -->
 

  <div style="
  padding-left: clamp(1rem, 5vw, 100px);
  padding-right: clamp(1rem, 5vw, 100px);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
">
    <p>
      <p>Hello 👋 I&#39;m Vishnu</p>
        <p>I&#39;m so glad that you came across my website. </p>
        
        <p>I work primarily in product and I have a passion for solving problems or being just inquisitive in general.</p>
        <p>I wanted to create a space for myself where I can share my thoughts along with the experiments I do. Something simple, non-verbose. A space that&#39;s a reflection of &quot;ME&quot;.</p>
      </p>
      
  </div>
  

