<div class="nav-links">
    <a href="/itisvishnu/" class="nav-link">Home Base</a>
    <a href="/itisvishnu/about_me/" class="nav-link">Whoami</a>
    <a href="/itisvishnu/thoughts/" class="nav-link">thoughts</a>
    <a href="/itisvishnu/readings/" class="nav-link">readings</a>
    <a href="/itisvishnu/vishnus_lab/" class="nav-link">Lab</a>
    <a href="/itisvishnu/contact_me/" class="nav-link">Reach out</a>
    <button id="theme-toggle" class="dark-mode-toggle" aria-label="Toggle dark mode">
        <span id="theme-toggle-icon">🌙</span>
    </button>
</div>