<div class="nav-links">
    <a href="/itisvishnu/" class="nav-link">Home Base</a>

    {{ with .Site.GetPage "/About_Me" }}
    <a href="/itisvishnu/about_me/" class="nav-link">Whoami</a>
    {{ end }}

    {{ with .Site.GetPage "/Thoughts" }}
    <a href="/itisvishnu/thoughts/" class="nav-link">Thoughts</a>
    {{ end }}

    {{ with .Site.GetPage "/Vishnus_Lab" }}
    <a href="/itisvishnu/vishnus_lab/" class="nav-link">Lab</a>
    {{ end }}

    {{ with .Site.GetPage "/Contact_Me" }}
    <a href="/itisvishnu/contact_me/" class="nav-link">Reach out</a>
    {{ end }}
    <button id="theme-toggle" class="dark-mode-toggle" aria-label="Toggle dark mode">
        <span id="theme-toggle-icon">🌙</span>
    </button>
</div>